.article-section {
   display: flex;
   flex-direction: column;
   padding-inline: 8vw;
   min-height: calc(100vh - 88px);
   justify-content: center;
   gap: 2rem;
   background-color: rgba($color: #000000, $alpha: 0.05);
   .header {
      h1 {
         font-size: 3rem;
         font-weight: 400;

      }
   }

   .articles {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;

      .article {
         display: flex;
         flex-direction: column;
         gap: 0.3rem;
         border-radius: 5px;
         padding: 1rem;
         background-color: white;
         img {
            height: 12rem;
            width: 100%;
            border-radius: 5px;
         }

         .author {
            padding-inline: 1rem;
            color: #969FA2;
            font-size: 0.7rem;
            font-weight: 300;
         }

         h1 {
            padding-inline: 1rem;
            font-size: 1.1rem;
            font-weight: 400;

         }

         p {
            padding-inline: 1rem;
            color: #969FA2;
            font-size: 0.8rem;
            font-weight: 300;

         }

      }
   }

}

@media(max-width:640px) {
   .article-section {
      .header {
         display: flex;
         justify-content: center;

         h1 {
            font-size: 2rem;
         }
      }

      .articles {
         display: flex;
         flex-direction: column;
         gap: 2.5rem;

      }

   }
}